@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

h3,
h4 {
  font-family: "Press Start 2P", cursive;
}

.outer-div {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  margin-top: "100px";
}

.inner-div {
  display: flex;
  align-items: "center";
  justify-content: "center";
}

.elementToFadeInAndOut {
  background: red;
  -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  50% {
    opacity: 1;
  }
}
